@page "/newround"
@using GolfScoreUI.Data

<h3>Start a new round</h3>

<form>
<div class="form-group">
    <label for="maxStrokesGroup">Maximum number of strokes per hole</label>
    <select class="form-select" id="maxStrokes" @bind="MaxStrokes">
        <option selected>Choose...</option>
        @for(int i = 1; i <= 10; i++)
        {
            <option value="@i">@i</option>
        }

    </select>
  </div>
  <div class="form-group">
    <label for="playerNamesGroup">Player names</label>
    @foreach(var player in Players)
    {
        <input type="text" class="form-control mb-2" id="player-@PlayerIndex" placeholder="Player @PlayerIndex">
        PlayerIndex++;
    }
  </div>
  <button type="submit" class="btn btn-primary">Start round</button>
</form>

@code {
    private int PlayerIndex = 1;
    private int MaxStrokes { get; set; } = 8;
    private List<Player> Players { get; } = new List<Player>();

    protected override async Task OnInitializedAsync()
    {
        for (int i = 1; i < 5; i++)
        {
            Players.Add(new Player());
        }
    }

}
