@page "/round"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using GolfScoreUI.Data

@inject ProtectedLocalStorage ProtectedLocalStorage

<h3>Scoreboard</h3>

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="row">#</th>
          @foreach(var player in scorecard.Players)
          {
              <th scope="col">@player.Name</th>
          }          
        </tr>
      </thead>
      <tbody>
      @for(int i = 0; i < scorecard.NumberOfHoles; i++)
      {
            int hole = i;
            <tr>
                <th scope="row">@(hole + 1)</th>
                @for(int j = 0; j < scorecard.Players.Count; j++)
                {
                    int playerIndex = j;
                    <td class="col-xs-1"><input id="name" class="form-control" @bind-value="@scorecard.Score[playerIndex, hole]" @bind-value:event="oninput" /></td>
                }            
            </tr>
        }
        <tr>
            <th>Sum</th>
            @for(int i = 0; i < scorecard.Players.Count; i++)
            {                
                int playerIndex = i;
                <td>@scorecard.ScoreSum[i]</td>
            }
        </tr>
      </tbody>
    </table>
</div>
 
@code {
    private Scorecard? scorecard;

    protected override void OnInitialized()
    {
        scorecard = new Scorecard();
        scorecard.AddPlayer("David");
        scorecard.AddPlayer("Busk");
        scorecard.AddPlayer("Mark");
    }
}